<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>楚游网</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/1.png">
    <link rel="stylesheet" href="swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="layui/layui.css">
</head>
<body>
    <div class="warping">
        <header>
            <div class="header-content clearfix">
                <h5>
                    <img src="images/1.png" alt="">
                    <span>欢迎来到楚游网！手游第一门户站</span>
                </h5>
                <ul class="clearfix">
                    <li><a href="/index"><i></i>首页</a></li>
                    <li><a href="/login"><i></i>登录 |</a></li>
                    <li><a href="/register"><i></i>注册</a></li>
                </ul>
            </div>
        </header>
        <nav class="clearfix">
            <div class="nav-content clearfix">
                <a class="img" href="#"><img src="images/2.png" alt=""></a>
                <ul class="clearfix">
                    <li>
                        <a href="/index">首页</a>
                    </li>
                    <li><a href="/news">资讯</a></li>
                    <li><a href="/server">开服表</a></li>
                    <li class="on"><a href="/gift">礼包</a></li>
                    <li><a href="/guide">攻略</a></li>
                    <li><a href="/answer">问答</a></li>
                </ul>
                <div class="input">
                    <input type="text" placeholder="请输入关键字">
                    <i></i>
                </div>
            </div>
        </nav>
        <div class="libao-banner">
            <div class="libao-banner-content">
                <div class="libao-banner-content-top clearfix">
                    <a class="swiper-container img-left" href="#">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="http://p1.npcka.com/2016/08/08/57a849dae308e.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="http://p1.npcka.com/2016/09/13/57d7d0fae1b7f.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="http://p1.npcka.com/2016/09/13/57d7d1962f8a7.jpg" alt=""></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </a>
                    <div class="text-right">
                        <h2>最新礼包</h2>
                        <ul>
                            <li class="title">
                                <span>游戏名</span>
                                <span>系统</span>
                                <span>时间</span>
                                <span class="li">礼包</span>
                            </li>
                            <div id="newestGift"></div>
                        </ul>
                    </div>
                </div>
                <div class="libao-banner-content-bottom gift">
                    <ul class="clearfix">
                        <div id="popGift"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gift-list kaifubody">
            <h2 class="gift-title clearfix">
                礼包列表
                <span class="span1">
                        最新最全的礼包列表
                </span>
                <div class="input">
                    <input type="text" id="keyword" placeholder="请输入关键字">
                    <i></i>
                </div>
            </h2>
            <ul class="gift-list-ul clearfix">
                <li class="left">
                    <ul>
                        <div id="leftAll"></div>
                    </ul>
                </li>
                <li class="right left ">
                    <ul>
                        <div id="rightAll"></div>
                    </ul>
                </li>
            </ul>
            <div class="page" id="pagination">
                <div id="demo4"></div>
            </div>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <div class="t1 clearfix">
                    <span class="s1">
                        友情链接
                    </span>
                    <p>
                        <a href="#">腾讯先游礼包</a>
                        <a href="#">手游发号</a>
                        <a href="#">网易发卡中心</a>
                        <a href="#">2144手机游戏</a>
                        <span class="s2">（友链合作联系QQ:914755657）</span>
                    </p>
                </div>
                <div class="t1 clearfix">
                    <span class="s1">
                        合作伙伴
                    </span>
                    <p>
                        <a href="#">着迷网</a>
                        <a href="#">超好玩</a>
                        <a href="#">第一应用</a>
                        <span class="s2">（友链合作联系QQ:914755657）</span>
                    </p>
                </div>
                <div class="bottomfoot clearfix">
                    <a class="img-left" href="#">
                        <img src="images/l2.png" alt="">
                    </a>
                    <div class="text-right">
                        <p>网站备案：《网络文化经营许可证》编号：鄂网文【2016】0855-011号  鄂ICP备11004443号</p>
                        <p>版权所有：武汉乐游天地科技有限公司</p>
                        <a href="#"><img src="images/gw_83x30.png" alt=""></a>
                        <a href="#"><img src="images/sm_124x47.png" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

<!-- Swiper JS -->
<script src="swiper/swiper-3.3.1.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 5000,
        loop:true,
        autoplayDisableOnInteraction: false
    });
</script>
<input type="hidden" id="nums" value="7">
<input type="hidden" id="pageSize" value="8">
</body>
<script src="js/jquery-3.1.0.min.js"></script>
<script src="layui/layui.js" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        getNewest($("#nums").val());
        getPop();

        $.ajax({
            type: "post",
            data: {pageSize:$("#pageSize").val(),keyword:$("#keyword").val()},
            dataType: "json",
            url:"/gift/getGiftTotalPage",
            success:function (data) {
                var totalPage = data.totalPage;

                layui.use(['laypage', 'layer'], function(){
                    var laypage = layui.laypage
                        ,layer = layui.layer;

                    laypage.render({
                        elem: 'demo4'
                        ,count: totalPage*10
                        ,first: false
                        ,last: false
                        ,jump: function(obj){
                            $("#pageList").html("")
                            pagination(obj.curr, $("#pageSize").val(), $("#keyword").val())
                        }
                    });

                });
            }
        })


    })
    
    var pagination = function (currentPage,pageSize,keyword) {
        $.ajax({
            type: "post",
            data: {currentPage: currentPage, pageSize: pageSize, keyword: keyword},
            url: "/gift/getAllGift",
            dataType: "json",
            success:function (data) {
                var gifts = data.gifts.page
                var pageSize = data.gifts.pageSize;
                var leftHtml = ""
                var rightHtml = ""
                $.each(gifts,function (i,gift) {
                    var game = gift.game;
                    if(i<(gifts.length/2)){
                        if (i=0){
                            leftHtml += "<li class='li1 clearfix'>"
                        }else{
                            leftHtml += "<li class='clearfix'>"
                        }
                        leftHtml += "<a class='img-left' href='/gift/"+gift.id+"'>" +
                            "<img src='"+game.icon+"' alt=''></a><div class='text-right'><h3>"+gift.name+"</h3>" +
                            "<p>共 <span>"+gift.total+"</span>个</p><p>系统："
                        if (game.platform == 1){
                            leftHtml += "<i class='i1'><img src='images/gift1.png' alt=''></i>"
                        }else if (game.platform == 2){
                            leftHtml += "<i class='i2'><img src='images/gift2.png' alt=''></i>"
                        }else{
                            leftHtml += "<i class='i1'><img src='images/gift1.png' alt=''></i>|" +
                                "<i class='i2'><img src='images/gift2.png' alt=''></i>"
                        }
                        leftHtml += "剩余： <span>"+gift.remainder+"</span>个</p></div><p class='time'>"+gift.createTime+"</p><a class='lingqu' href='/gift/"+gift.id+"'>领取</a></li>"
                    }else{
                        if (i=0){
                            rightHtml += "<li class='li1 clearfix'>"
                        }else{
                            rightHtml += "<li class='clearfix'>"
                        }
                        rightHtml += "<a class='img-left' href='/gift/"+gift.id+"'>" +
                            "<img src='"+game.icon+"' alt=''></a><div class='text-right'><h3>"+gift.name+"</h3>" +
                            "<p>共 <span>"+gift.total+"</span>个</p><p>系统："
                        if (game.platform == 1){
                            rightHtml += "<i class='i1'><img src='images/gift1.png' alt=''></i>"
                        }else if (game.platform == 2){
                            rightHtml += "<i class='i2'><img src='images/gift2.png' alt=''></i>"
                        }else{
                            rightHtml += "<i class='i1'><img src='images/gift1.png' alt=''></i>|" +
                                "<i class='i2'><img src='images/gift2.png' alt=''></i>"
                        }
                        rightHtml += "剩余： <span>"+gift.remainder+"</span>个</p></div><p class='time'>"+gift.createTime+"</p><a class='lingqu' href='/gift/"+gift.id+"'>领取</a></li>"
                    }
                })
                $("#leftAll").html(leftHtml)
                $("#rightAll").html(rightHtml)


                $("#pageSize").val(pageSize)
            }
        })
    }
    //     <li class="li1 clearfix">
    //     <a class="img-left" href="#">
    //     <img src="http://p1.npcka.com/2016/07/28/579977882226e.png" alt="">
    //     </a>
    //     <div class="text-right">
    //     <h3>
    //     陆小凤传奇盛夏解暑礼包
    //     </h3>
    //     <p>
    //     今日新增 <span>2</span>个
    // 共 <span>16</span>个
    // </p>
    // <p>
    // 系统：
    // <i class="i1"><img src="images/gift1.png" alt=""></i>|
    //     <i class="i2"><img src="images/gift2.png" alt=""></i>
    // 剩余： <span>152635</span>个
    // </p>
    // </div>
    // <p class="time">2016-10-25</p>
    //     <a class="lingqu" href="#">领取</a>
    //     </li>


    var getNewest = function (nums) {
        $.ajax({
            type: "post",
            url: "/gift/getNewestGift",
            data: {nums:nums},
            dataType: "json",
            success:function (data) {
                var gifts = data.gift;
                $.each(gifts,function (i,gift) {
                    var game = gift.game;
                    var htmlText='';
                    htmlText += "<li class='li'>" +
                        "<span class='s1'>"+game.name.substr(0,5)+"</span>"
                    if (game.platform == 1){
                        htmlText += "<i class='i1 s2'><img src='images/gift1.png'></i>"
                    }else if (game.platform == 2){
                        htmlText += "<i class='i2 s2'><img src='images/gift2.png'></i>"
                    }else{
                        htmlText += "<i class='i1'><img src='images/gift1.png'></i>|" +
                            "<i class='i2'><img src='images/gift2.png'></i>"
                    }
                    htmlText += "<span class='s2'>"+gift.createTime+"</span>" +
                        "<a href='gift/"+gift.id+"'>领取</a></li>"
                    $("#newestGift").append(htmlText)
                })
            }
        })
    }

    var getPop = function () {
        $.ajax({
            type: "post",
            url: "/gift/getPopGift",
            dataType: "json",
            success:function (data) {
                var gifts = data.gift;
                $.each(gifts,function (i,gift) {
                    var game = gift.game;
                    var textHtml = ''
                    textHtml += "<li><div class='img-left'><img src='"+game.icon+"' alt=''></div><div class='txt-right'><p class='p-txt01'>"+gift.name+"</p><p>平台："
                    if (game.platform == 1){
                        textHtml += "<i class='icon-android-green'></i>"
                    }
                    else if (game.platform == 2){
                        textHtml += "<i class='icon-apple-red'></i>"
                    }else{
                        textHtml += "<i class='icon-android-green'></i>|" +
                                    "<i class='icon-apple-red'></i>"
                    }
                    textHtml += "<a class='btn' href='gift/"+gift.id+"'>领取</a></p></div></li>"
                    $("#popGift").append(textHtml)
                })
            }
        })
    }
</script>
</html>


<li class="clearfix">
    <a class="img-left" href="#">
        <img src="http://p1.npcka.com/2016/07/18/578c49bc8861c.jpg" alt="">
    </a>
    <div class="text-right">
        <h3>
            陆小凤传奇盛夏解暑礼包
        </h3>
        <p>
            今日新增 <span>2</span>个
            共 <span>16</span>个
        </p>
        <p>
            系统：
            <i class="i1"><img src="images/gift1.png" alt=""></i>|
            <i class="i2"><img src="images/gift2.png" alt=""></i>
            剩余： <span>152635</span>个
        </p>
    </div>
    <p class="time">2016-10-25</p>
    <a class="lingqu" href="#">领取</a>
</li>
<li class="clearfix">
    <a class="img-left" href="#">
        <img src="http://p1.npcka.com/2016/07/18/578c49bc8861c.jpg" alt="">
    </a>
    <div class="text-right">
        <h3>
            陆小凤传奇盛夏解暑礼包
        </h3>
        <p>
            今日新增 <span>2</span>个
            共 <span>16</span>个
        </p>
        <p>
            系统：
            <i class="i1"><img src="images/gift1.png" alt=""></i>|
            <i class="i2"><img src="images/gift2.png" alt=""></i>
            剩余： <span>152635</span>个
        </p>
    </div>
    <p class="time">2016-10-25</p>
    <a class="lingqu" href="#">领取</a>
</li>
<li class="clearfix">
    <a class="img-left" href="#">
        <img src="http://p1.npcka.com/2016/07/18/578c49bc8861c.jpg" alt="">
    </a>
    <div class="text-right">
        <h3>
            陆小凤传奇盛夏解暑礼包
        </h3>
        <p>
            今日新增 <span>2</span>个
            共 <span>16</span>个
        </p>
        <p>
            系统：
            <i class="i1"><img src="images/gift1.png" alt=""></i>|
            <i class="i2"><img src="images/gift2.png" alt=""></i>
            剩余： <span>152635</span>个
        </p>
    </div>
    <p class="time">2016-10-25</p>
    <a class="lingqu" href="#">领取</a>
</li>
<li class="clearfix">
    <a class="img-left" href="#">
        <img src="http://p1.npcka.com/2016/07/18/578c49bc8861c.jpg" alt="">
    </a>
    <div class="text-right">
        <h3>
            陆小凤传奇盛夏解暑礼包
        </h3>
        <p>
            今日新增 <span>2</span>个
            共 <span>16</span>个
        </p>
        <p>
            系统：
            <i class="i1"><img src="images/gift1.png" alt=""></i>|
            <i class="i2"><img src="images/gift2.png" alt=""></i>
            剩余： <span>152635</span>个
        </p>
    </div>
    <p class="time">2016-10-25</p>
    <a class="lingqu" href="#">领取</a>
</li>
<li class="clearfix">
    <a class="img-left" href="#">
        <img src="http://p1.npcka.com/2016/07/18/578c49bc8861c.jpg" alt="">
    </a>
    <div class="text-right">
        <h3>
            陆小凤传奇盛夏解暑礼包
        </h3>
        <p>
            今日新增 <span>2</span>个
            共 <span>16</span>个
        </p>
        <p>
            系统：
            <i class="i1"><img src="images/gift1.png" alt=""></i>|
            <i class="i2"><img src="images/gift2.png" alt=""></i>
            剩余： <span>152635</span>个
        </p>
    </div>
    <p class="time">2016-10-25</p>
    <a class="lingqu" href="#">领取</a>
</li>