<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>楚游网</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/1.png">
    <link rel="stylesheet" href="layui/layui.css">
</head>
<body>
<div class="warping">
    <header>
        <div class="header-content clearfix">
            <h5>
                <img src="images/1.png" alt="">
                <span>欢迎来到楚游网！手游第一门户站</span>
            </h5>
            <ul class="clearfix">
                <li><a href="/index"><i></i>首页</a></li>
                <li><a href="/login"><i></i>登录 |</a></li>
                <li><a href="/register"><i></i>注册</a></li>
            </ul>
        </div>
    </header>
    <nav class="clearfix">
        <div class="nav-content clearfix">
            <a class="img" href="#"><img src="images/2.png" alt=""></a>
            <ul class="clearfix">
                <li>
                    <a href="/index">首页</a>
                </li>
                <li class="on"><a href="/news">资讯</a></li>
                <li><a href="/server">开服表</a></li>
                <li><a href="/gift">礼包</a></li>
                <li><a href="/guide">攻略</a></li>
                <li><a href="/answer">问答</a></li>
            </ul>
            <div class="input">
                <input type="text" id="keyword" placeholder="请输入关键字" onkeyup=" if(event.keyCode==13){search()}">
                <i onclick="search()"></i>
            </div>
        </div>
    </nav>
    <div class="bannerbg">
    </div>
    <div class="zixun-content">
        <ul class="clearfix" id="pageList"></ul>
        <div class="page" id="pagination">
            <div id="demo4"></div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="t1 clearfix">
                    <span class="s1">
                        友情链接
                    </span>
                <p>
                    <a href="#">腾讯先游礼包</a>
                    <a href="#">手游发号</a>
                    <a href="#">网易发卡中心</a>
                    <a href="#">2144手机游戏</a>
                </p>
            </div>
            <div class="t1 clearfix">
                    <span class="s1">
                        合作伙伴
                    </span>
                <p>
                    <a href="#">着迷网</a>
                    <a href="#">超好玩</a>
                    <a href="#">第一应用</a>
                </p>
            </div>
            <div class="bottomfoot clearfix">
                <a class="img-left" href="#">
                    <img src="images/l2.png" alt="">
                </a>
                <div class="text-right">
                    <p>网站备案：《网络文化经营许可证》编号：鄂网文【2016】0855-011号 鄂ICP备11004443号</p>
                    <p>版权所有：武汉乐游天地科技有限公司</p>
                    <a href="#"><img src="images/gw_83x30.png" alt=""></a>
                    <a href="#"><img src="images/sm_124x47.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
</div>
<input type="hidden" id="pageSize" value="4">
</body>
<script src="jQuery/jquery-3.1.0.min.js"></script>
<script src="layui/layui.js" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        getAll();
    })

    var search = function () {
        getAll()
    }

    var getAll = function () {
        $.ajax({
            type: "post",
            data: {pageSize:$("#pageSize").val(),keyword:$("#keyword").val()},
            dataType: "json",
            url:"/getNewsTotalPage",
            success:function (data) {
                var totalPage = data.totalPage;

                layui.use(['laypage', 'layer'], function(){
                    var laypage = layui.laypage
                        ,layer = layui.layer;

                    laypage.render({
                        elem: 'demo4'
                        ,count: totalPage*10
                        ,first: false
                        ,last: false
                        ,jump: function(obj){
                            $("#pageList").html("")
                            pagination(obj.curr, $("#pageSize").val(),$("#keyword").val())
                        }
                    });

                });
            }
        })
    }

    var pagination = function (currentPage,pageSize,keyword) {
        $.ajax({
            type: "post",
            data: {currentPage: currentPage,pageSize:pageSize,keyword:keyword},
            url: "/getNews",
            dataType: "json",
            success:function (data) {
                var pages = data.result.page;
                var pageSize = data.result.pageSize;
                $.each(pages, function (i,p) {
                    $("#pageList").append(
                        "<li class='clearfix'><div class='img-left'><a href='news/"+p.id+"'><img src='"+p.image+"' alt=''></a></div>" +
                        "<div class='text-right'><a class='h3' href='news/"+p.id+"'>"+p.name+"</a><p class='p1'><span class='span1'><i></i>&nbsp;时间："+p.createTime+"</span>" +
                        "<span class='span2'><i></i>&nbsp;编辑："+p.editor+"</span></p>" +
                        "<p class='p2'>"+p.desc+"</p></div>" +
                        "<a class='read' href='news/"+p.id+"'>阅读全文</a></li>"
                    )
                })
                $("#pageSize").val(pageSize)
            }
        })
    }

</script>
</html>