<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>楚游网</title>
    <link rel="icon" href="images/1.png">
    <link rel="stylesheet" href="swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<body>
    <div class="wraping">
        <header>
            <div class="header-content clearfix">
                <h5>
                    <img src="images/1.png" alt="">
                    <span>欢迎来到楚游网！手游第一门户站</span>
                </h5>
                <ul class="clearfix">
                    <li><a href="/index"><i></i>首页</a></li>
                    <li><a href="/login"><i></i>登录 |</a></li>
                    <li><a href="/register"><i></i>注册</a></li>
                </ul>
            </div>
        </header>
        <nav class="clearfix">
            <div class="nav-content clearfix">
                <a class="img" href="#"><img src="images/2.png" alt=""></a>
                <ul class="clearfix">
                    <li>
                        <a href="/index">首页</a>
                    </li>
                    <li><a href="/news">资讯</a></li>
                    <li class="on"><a href="/server">开服表</a></li>
                    <li><a href="/gift">礼包</a></li>
                    <li><a href="/guide">攻略</a></li>
                    <li><a href="/answer">问答</a></li>
                </ul>
            </div>
        </nav>
        <div class="swiper-container img-left clearfix">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/kban5.png" alt=""></div>
                <div class="swiper-slide"><img src="images/kban6.png" alt=""></div>
            </div>
            <!--<div class="swiper-pagination"></div>-->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="kaifubody">
            <div class="day" id="dayList">
                
            </div>
            <h2 class="gift-title clearfix">
                开服游戏
                <span class="span1">
                        最新开服游戏
                </span>
            </h2>
            <ul class="game">


                <div id="gameList">

                </div>


            </ul>
            <h2 class="gift-title clearfix">

                <span class="span1">

                </span>
            </h2>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="t1 clearfix">
                    <span class="s1">
                        友情链接
                    </span>
                <p>
                    <a href="#">腾讯先游礼包</a>
                    <a href="#">手游发号</a>
                    <a href="#">网易发卡中心</a>
                    <a href="#">2144手机游戏</a>
                </p>
            </div>
            <div class="t1 clearfix">
                    <span class="s1">
                        合作伙伴
                    </span>
                <p>
                    <a href="#">着迷网</a>
                    <a href="#">超好玩</a>
                    <a href="#">第一应用</a>
                </p>
            </div>
            <div class="bottomfoot clearfix">
                <a class="img-left" href="#">
                    <img src="images/l2.png" alt="">
                </a>
                <div class="text-right">
                    <p>网站备案：《网络文化经营许可证》编号：鄂网文【2016】0855-011号  鄂ICP备11004443号</p>
                    <p>版权所有：武汉乐游天地科技有限公司</p>
                    <a href="#"><img src="images/gw_83x30.png" alt=""></a>
                    <a href="#"><img src="images/sm_124x47.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>


    <!-- Swiper JS -->
    <script src="swiper/swiper-3.3.1.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            loop:true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false
        });
    </script>
</body>
<script src="jQuery/jquery-3.1.0.min.js"></script>
<script>
    $(document).ready(function () {
        getDateList();
    })
    
    var getDateList = function () {
        $.ajax({
            url: "server/getDay",
            type: "get",
            dataType: "json",
            success: function (data) {
                var dayList = data.dayList;
                var textHtml = "";
                $.each(dayList,function (i,day) {
                    if (i==3){
                        textHtml += "<a class='' href='javascript:void (search(\""+day+"\"))'>"+day+"</a>"
                    }else {
                        textHtml += "<a class='' href='javascript:void (search(\""+day+"\"))'>"+day+"</a>"
                    }
                })
                $("#dayList").append(textHtml);
                search(data.today)
            }
        })
    }
    
    var search = function (date) {
        $.ajax({
            url: "/server/getServerByDate",
            data: {date:date},
            type: "post",
            dataType: "json",
            success: function (data) {
                var servers = data.result;
                var htmlText = "";
                $.each(servers,function (i,server) {
                    var game = server.game
                    htmlText += "<li class='clearfix'><a class='img-left' href='game/"+game.id+"'><img src='"+game.icon+"' alt=''></a>" +
                        "<div class='text-right'><h3>"+game.name+"</h3><p>开服日期："+server.openServerTime.substr(0,5)+"　运营商家："+game.operator+" </p>" +
                        "<p>新服名称："+server.serverName+"（新服）</p><p>游戏系统："
                    if (game.platform == 1){
                        htmlText += "<i class='i1'><img src='images/gift1.png' alt=''></i>"
                    }else if (game.platform == 2){
                        htmlText += "<i class='i2'><img src='images/gift2.png' alt=''></i>"
                    }else{
                        htmlText += "<i class='i1'><img src='images/gift1.png' alt=''></i>|" +
                            "<i class='i2'><img src='images/gift2.png' alt=''></i>"
                    }
                    htmlText += "</p></div><p class='time'>"+server.openServerTime.substr(5)+"</p>" +
                        "<div class='gift'><a href='game/"+game.id+"'><i class='i1'></i>游戏详情</a></div></li>"
                })
                $("#gameList").html(htmlText)
            }
        })
    }
    
    
    
</script>
</html>