<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.npcka.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="pers.npcka.model.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="fav_num" jdbcType="INTEGER" property="favNum" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_best" jdbcType="INTEGER" property="isBest" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pers.npcka.model.Comment">
    insert into comment (id, user_id, create_time, 
      type, comment_id, fav_num, 
      content, is_best)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, #{favNum,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{isBest,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pers.npcka.model.Comment">
    update comment
    set user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      comment_id = #{commentId,jdbcType=INTEGER},
      fav_num = #{favNum,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_best = #{isBest,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, create_time, type, comment_id, fav_num, content, is_best
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, create_time, type, comment_id, fav_num, content, is_best
    from comment
  </select>
</mapper>