<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.npcka.dao.GameServerMapper">
  <resultMap id="BaseResultMap" type="pers.npcka.model.GameServer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="server_name" jdbcType="VARCHAR" property="serverName" />
    <result column="open_server_time" jdbcType="TIMESTAMP" property="openServerTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_server
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pers.npcka.model.GameServer">
    insert into game_server (id, game_id, server_name, 
      open_server_time)
    values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{serverName,jdbcType=VARCHAR}, 
      #{openServerTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pers.npcka.model.GameServer">
    update game_server
    set game_id = #{gameId,jdbcType=INTEGER},
      server_name = #{serverName,jdbcType=VARCHAR},
      open_server_time = #{openServerTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, game_id, server_name, open_server_time
    from game_server
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, game_id, server_name, open_server_time
    from game_server
  </select>
</mapper>