<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.npcka.dao.GiftMapper">
    <resultMap id="BaseResultMap" type="pers.npcka.model.Gift">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="game_id" jdbcType="INTEGER" property="gameId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="remainder" jdbcType="INTEGER" property="remainder"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_pop" jdbcType="INTEGER" property="isPop"/>
    </resultMap>


    <resultMap id="GiftGameResultMap" type="pers.npcka.model.Gift">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="game_id" jdbcType="INTEGER" property="gameId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="remainder" jdbcType="INTEGER" property="remainder"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_pop" jdbcType="INTEGER" property="isPop"/>
        <association property="game" javaType="pers.npcka.model.Game">
            <id column="game_id" jdbcType="INTEGER" property="id"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="icon" jdbcType="VARCHAR" property="icon"/>
            <result column="tag" jdbcType="INTEGER" property="tag"/>
            <result column="image" jdbcType="VARCHAR" property="image"/>
            <result column="version" jdbcType="VARCHAR" property="version"/>
            <result column="size" jdbcType="VARCHAR" property="size"/>
            <result column="platform" jdbcType="INTEGER" property="platform"/>
            <result column="operator" jdbcType="VARCHAR" property="operator"/>
            <result column="price" jdbcType="DECIMAL" property="price"/>
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
            <result column="desc" jdbcType="LONGVARCHAR" property="desc"/>
        </association>
    </resultMap>

    <select id="getGiftDetailById" resultMap="GiftGameResultMap">
        SELECT t1.*,t2.id as game_id,t2.name,t2.icon,t2.`desc`,t2.version,t2.size,t2.platform,t2.operator,t2.update_time
        FROM gift t1
        LEFT JOIN game t2 ON t1.game_id = t2.id
        WHERE t1.id = #{0}
  </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gift
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="pers.npcka.model.Gift">
    insert into gift (id, game_id, name, 
      total, remainder, content, 
      method, create_time, is_pop
      )
    values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{total,jdbcType=INTEGER}, #{remainder,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isPop,jdbcType=INTEGER}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="pers.npcka.model.Gift">
    update gift
    set game_id = #{gameId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      remainder = #{remainder,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_pop = #{isPop,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, game_id, name, total, remainder, content, method, create_time, is_pop
    from gift
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, game_id, name, total, remainder, content, method, create_time, is_pop
    from gift
  </select>
</mapper>